# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# Milvus data
qdrant_data/
milvus_data/

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# Testing
.coverage
htmlcov/
.pytest_cache/

# Temporary files
tmp/
temp/ 